
<p-panel [showHeader]="false">
    <h1>Pipes No tan comunes</h1>
    <p>
        Pipes incluidos en angular - usualmente en el common Module
    </p>
</p-panel>

<div class="grid">

    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            
            <p>
                saludos {{ name }}, es un placer {{gender | i18nSelect:invitarloMap}}
                a nuestro evento.
            </p>
        
            <p-button 
                (click)="changeClient()"
                label="Cambiar Persona">
                
            </p-button>
        
        </p-fieldset>
    </div>

    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>
                Actualmente  {{clients.length | i18nPlural:clientsMap  }} 
            </p>

            <p-button
            (click)="deleteClient()"
            label="eliminar Cliente"
            ></p-button>
        </p-fieldset>
    </div>

    <div class="col-12 md:col-6">
        <p-fieldset legend="slice Pipe" [toggleable]="true">
            original
            {{clients}}
            <br>
            slice 0,3
            {{clients | slice:0:3}}
            <br>
            slice 1,3
            {{clients | slice:1:2}}
            <br>
            slice 1,3
            {{clients | slice:1:3}}
        </p-fieldset>
    </div>

    <div class="col-12 md:col-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
        </p-fieldset>
    </div>

    <div class="col-12 md:col-6">
        <p-fieldset legend="keyvalue Pipe" [toggleable]="true">
        </p-fieldset>
    </div>

    <div class="col-12 md:col-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
        </p-fieldset>
    </div>
</div>
