
<p-panel [showHeader]="false">
    <h1>Pipes Personalizados</h1>
    <p>
       Pipes Personalizados - creados por {{'nosotros' | toogleCasepipe:isUpperCase}}
    </p>
</p-panel>


<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button 
            label="ToogleCases"   
            icon="pi pi-search"
            (onClick)="toogleUperCase()"/>
    </div>

    <div class="p-toolbar-group-end">
        <p-button 
            class="mr-2" 
            label="Por Nombre"    
            icon="pi pi-sort"  
            styleClass="p-button-sucess"
        />

        <p-button 
            class="mr-2" 
            label="Por valor"     
            icon="pi pi-sort"  
            styleClass="p-button-danger"
        />

        <p-button 
            class="mr-2" 
            label="Por color"     
            icon="pi pi-sort"  
            styleClass="p-button-help"
        />

    </div>
</p-toolbar>