
<p-panel [showHeader]="false">
    <h1>Pipes Basicos</h1>
    <p>
        Pipes incluidos en angular - usualmente en el common Module
    </p>
</p-panel>


<p-card class="col-4 text-center" header="Original"> {{ nameTest }}</p-card>
<div class="grid">
    
    <p-card class="col-4" header="Uppercase"> {{ nameTest | uppercase }}</p-card>
    <p-card class="col-4" header="LowerCase"> {{ nameTest | lowercase }}</p-card>
    <p-card class="col-4" header="Titlecase"> {{ nameTest | titlecase}}</p-card>
        
 
</div>
