
<p-panel [showHeader]="false">
    <h1>Pipes Basicos</h1>
    <p>
        Pipes incluidos en angular - usualmente en el common Module
    </p>
</p-panel>


<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Origiinal"> {{ nameTest }}</p-card>
        <p-card header="Uppercase"> {{ nameTest | uppercase }}</p-card>
        <p-card header="LowerCase"> {{ nameTest | lowercase }}</p-card>
        <p-card header="Titlecase"> {{ nameTest | titlecase}}</p-card>
        
    </div>
</div>
